.personas{
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
}

@media screen and (min-width:0) {
    .personas{
        flex-wrap: wrap;
        justify-content: center;
    }
}
